@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  font-family: "NanumSquare", sans-serif;
  margin: 0px;
}
.header {
  display: flex;
  position: absolute;
  top: 10%;
  left: 38%;
}
.body {
  position: absolute;
  width: 100%;
  top: 30%;
}
.form {
  position: absolute;
  left: 35%;
}
.sendBtn {
  position: absolute;
  right: -20%;
  background-color: yellowgreen;
}
.heavyBtn {
  position: absolute;
  right: -50%;
  background-color: darkgreen;
  color: white;
}

.result {
  position: absolute;
  top: 65%;
  width: 100%;
}

.input {
  position: absolute;
  top: 0%;
  left: 15%;
  width: 30%;
  height: 10%;
  padding: 1%;
}
.medicine- {
  margin: 2% 0% 2% 0%;
}
.output {
  position: absolute;
  top: 0%;
  width: 30%;
  height: 10%;
  right: 15%;
  padding: 1%;
}
