.header {
  display: flex;
  position: absolute;
  top: 4%;
  left: 36%;
}
.body {
}
.form {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input {
  position: absolute;
  top: 40%;
  background-color: aquamarine;
}
.output {
  top: 70%;
  background-color: aquamarine;
  width: 50%;
  height: 50%;
}
