.header {
}

.body {
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

.user_input {
}
